<div class="my-section">
	<div class="my-content">
		<div class="md-toolbar-tools">
			<h2 class="md-flex">{{dic[selectedItem].PaginaWeb}}: {{website.Tit}}</h2>
			<span flex></span>
			<md-button class="md-raised" ng-click="prevWebSite()" title="regresar a mis paginas">{{dic[selectedItem].Atras}}</md-button>
			<md-button class="md-raised" ng-click="showWebSite(website.WebSitID)" title="ver la pagina web">{{dic[selectedItem].VerPagina}}</md-button>
		</div>
	</div>
</div>
<div class="my-section">
	<div class="my-content">
		<md-toolbar class="md-primary " >
		<div class="md-toolbar-tools">
			<h2 class="md-flex">{{dic[selectedItem].Productos}}</h2>
			<span flex></span>
			<md-button class="md-raised md-primary" ng-click="prepareNew($event)" title="registrar una seccion">{{dic[selectedItem].Nuevo}}</md-button>
			<md-button class="md-raised" ng-click="list()" title="listar las secciones">{{dic[selectedItem].Listar}}</md-button>
		</div>
		</md-toolbar>
		<md-content layout layout-xs="column" style="padding:8px">
			<table style="width:100%;" data-ng-init="verify(website)?list():false;" class="table table-hover table-striped">
				<thead>
					<tr>
						<th style="text-align:center">{{dic[selectedItem].Nombre}}</th>
						<th style="text-align:center">{{dic[selectedItem].Descripcion}}</th>
						<th style="text-align:center;">{{dic[selectedItem].Precio}}</th>
						<th style="text-align:center">{{dic[selectedItem].Promocion}}</th>
						<th style="text-align:center">{{dic[selectedItem].Estado}}</th>
						<th style="text-align:center">{{dic[selectedItem].Action}}</th>
					</tr>
				</thead>
				<tbody >
					<tr ng-repeat="p in listRegisters">
						<td style="text-align:center">{{p.ProNom}}</td>
						<td style="text-align:center">{{p.ProDes}}</td>
						<td style="text-align:center;">{{p.ProPre}}</td>
						<td style="text-align:center;">{{p.ProPro}}</td>
						<td style="text-align:center;">{{p.RegSta}}</td>
						<td style="text-align:center;padding: 0;width:80px">
						<md-button class="md-fab button-peque md-primary" aria-label="Eat cake" ng-click="prepareUpdate($event,p)" title="editar seccion" style="margin-right:0">
							<md-icon md-svg-src="../resources/img/icons/editar.svg"></md-icon>
						</md-button>
						<md-button class="md-fab button-peque" aria-label="Use Android" ng-click="deleteRegister($index,p)" title="eliminar seccion" style="margin-left:0">
							<md-icon md-svg-src="../resources/img/icons/eliminar.svg"></md-icon>
						</md-button>
						</td>
					</tr>
				</tbody>
			</table>
		</md-content>
	</div>
</div>
